<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="gta.jpg" alt="GTA SA Limited Edition" class="card-img-top">
      <div class="card-body">
        <h2>17 $</h2>
        <p> One of the most popular games in the world, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/gtasa" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1700"
            data-name="Game Store"
            data-description="GTA San Andreas"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="nfsmw.jpg" alt="NFS Most Wanted" class="card-img-top">
      <div class="card-body">
        <h2>15 $</h2>
        <p> A classic one, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/nfsmw" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="5000"
            data-name="Game Store"
            data-description="NFSMW"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[1].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="fifa07.jpg" alt="FIFA 2007" class="card-img-top">
      <div class="card-body">
        <h2>19 $</h2>
        <p> The magic one, Ronaldinho Gaucho, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/fifa07" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1900"
            data-name="Game Store"
            data-description="FIFA 07"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[2].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="cod.jpg" alt="Call Of Duty" class="card-img-top">
      <div class="card-body">
        <h2>14 $</h2>
        <p> WW1, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/fifa07" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1400"
            data-name="Game Store"
            data-description="Call Of Duty"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[3].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="re4.jpg" alt="Resident Evil 4" class="card-img-top">
      <div class="card-body">
        <h2>16 $</h2>
        <p> A scary one, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/re4" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1600"
            data-name="Game Store"
            data-description="Resident Evil 4"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[4].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="gh3.jpg" alt="Guitar Hero 3" class="card-img-top">
      <div class="card-body">
        <h2>18 $</h2>
        <p> Be like a legend of rock, buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/gh3" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1600"
            data-name="Game Store"
            data-description="Guitar Hero 3"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[5].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="dk.jpg" alt="Donkey Conga" class="card-img-top">
      <div class="card-body">
        <h2>11 $</h2>
        <p> Is the rhythm in you? buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/dk" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1100"
            data-name="Game Store"
            data-description="Donkey Conga"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[6].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="aoe.jpg" alt="Age Of Empires II" class="card-img-top">
      <div class="card-body">
        <h2>16 $</h2>
        <p> Do you hate studying story? NO WAY!! buy it! </p>
      </div>
      <div class="card-footer">
        <form action="/aoe" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="1600"
            data-name="Game Store"
            data-description="Age Of Empires"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[7].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="baldor.jpg" alt="Baldor's Algebra" class="card-img-top">
      <div class="card-body">
        <h2>9 $</h2>
        <p> :) </p>
      </div>
      <div class="card-footer">
        <form action="/baldor" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_kHTyZRrHi6yYjRpyC5DiGiW900sjfPcHIp"
            data-amount="900"
            data-name="Game Store"
            data-description="Baldor's Algebra"
            data-locale="auto">
          </script>
          <script type="text/javascript">
            document.getElementsByClassName('stripe-button-el')[8].style.display = 'none';
          </script>
          <button type="btn btn-dark btn-block">
            Buy!
          </button>
        </form>
      </div>
    </div>
  </div>

</div>
