<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Software Store</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary p-2">
      <div class="container">
        <a href="/" class="navbar-brand">Software Store</a>
      </div>
    </nav>

    <div class="container p-4">
      {{{ body }}}
    </div>

  </body>
</html>
